<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Panel</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="icon" href="/static/favicon.svg">
    <script src="/static/jquery-3.7.0.min.js"></script>
    <script src="/static/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>随身WiFi <strong>管理面板</strong></h2>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-3 col-sm-12">
            <div class="card">
                <div class="card-header">移动网络</div>
                <div class="card-body">
                    <p class="card-text">移动网络状态： <a id="modem_state">{{ state }}</a></p>
                    <p class="card-text">移动网络信号： {{ signal }}</p>
                    <p class="card-text"><button id="modem" class="btn btn-warning">重启Modem</button></p>
                </div>
            </div>
        </div>
        <div class="col col-md-3 col-sm-12">
            <div class="card">
                <div class="card-header">网络控制</div>
                <div class="card-body">
                    <p class="card-text">Wlan0状态： {{ wifi }}</p>
                    <p class="card-text">usb0状态： {{ usb }}</p>
                    <p class="card-text"><button id="wifi" class="btn btn-primary">Wlan0切换</button></p>
                    <p class="card-text"><button id="usb" class="btn btn-primary">usb0切换</button></p>
                </div>
            </div>
        </div>
        <div class="col col-md-3 col-sm-12">
            <div class="card">
                <div class="card-header">系统</div>
                <div class="card-body">
                    <p class="card-text">操作系统： {{ os_name }}</p>
                    <p class="card-text">主机名： {{ host_name }}</p>
                    <p class="card-text">内核版本： {{ kernel }}</p>
                    <p class="card-text">处理器架构： {{ arch }}</p>
                    <p class="card-text"><button id="reboot" class="btn btn-warning">重启设备</button></p>
                </div>
            </div>
        </div>
        <div class="col col-md-3 col-sm-12">
            <div class="card">
                <div class="card-header">关于</div>
                <div class="card-body">
                    <p class="card-text">Running on {{ host_name }}</p>
                    <p class="card-text">Powered By <a href="https://gitee.com/dw-yang">DW_yang</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#wifi").click(function(){
        $.post("/wifi_switch",{},function(resp){
            const res = JSON.parse(resp);
            window.location.reload()
            console.log(res.result)
        })
    })
    $('#usb').click(function(){
        $.post("/usb_switch",{},function(resp){
            const res = JSON.parse(resp);
            window.location.reload()
            console.log(res.result)
        })
    })
    $('#modem').click(function (){
        $.post("/restart_modem",{},function(resp){
            const res = JSON.parse(resp);
            console.log(res.result)
            alert("已重启modem，关闭窗口将在5秒后刷新页面")
            setTimeout(function () {
                window.location.reload()
            }, 5000)
        })
    })
    $('#modem_state').click(function (){
        $.post("/modem_state",{},function (resp) {
            const res = JSON.parse(resp);
            alert(res.result)
        })
    })
    $('#reboot').click(function (){
        $.post("/reboot",{},function (resp) {
            const res = JSON.parse(resp);
            console.log(res.result)
            alert("reboot")
        })
    })
</script>
</body>
</html>